@media (min-width:768px) {
      .menu {
            display: block;
            visibility: visible;
      }

      .menu-sm {
            display: none;
            visibility: hidden;
      }
}

@media (max-width:768px) {
      .menu {
            display: none;
            visibility: hidden;
      }

      .menu-sm {
            display: block;
            visibility: visible;
      }
}

@media (max-width:768px) {
      .resume-bg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
      }

      .resume-detail-obj::after,
      .resume-detail-obj::before {
            display: none;
      }
}